.home {
  min-height: calc(100vh - 13rem);
  width: 90%;
  /* padding: 2rem 0; */
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.home h2 {
  font-size: 1.6rem;
  margin: 2rem 0 -1rem;
  color: #606060;
  text-align: start;
}
.home h3 {
  font-size: 1.6rem;
  color: #606060;
}
.home button {
  font-size: 1.4rem;
  letter-spacing: 0.1rem;
  font-weight: 600;
  color: #fff;
  background: linear-gradient(0.25turn, #f872d1, #c772f3);
  border: none;
  width: 100%;
  height: 5rem;
  border-radius: 1rem;
  margin-bottom: 2rem;
  cursor: pointer;
}
.gif-home-landing{
  max-height: 20rem;
  object-fit: cover;
  border-radius: .5rem;
}