header {
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 13rem;
  position: relative;
}
header form {
  position: absolute;
  bottom: 0;
  display: flex;
  width: 100%;
}
header form input {
  height: 4rem;
  border: none;
  border-radius: 0.5rem 0 0 0.5rem;
  padding-left: 1rem;
  width: 100%;
}
header form button {
  background: linear-gradient(0.25turn, #f872d1, #c772f3);
  color: #fff;
  font-size: 1.3rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
  border: none;
  border-radius: 0 0.5rem 0.5rem 0;
  padding: 0 1rem;
}
header .searchBar-container {
  display: flex;
  justify-content: center;
}
header .searchBar-container h5 {
  width: fit-content;
  margin: 0;
  margin-bottom: 4rem;
  font-size: 1.8rem;
  cursor: pointer;
}
