html {
  font-size: 62.5%;
  background-color: #ebebeb;
}
.App {
  /* background-color: #ebebeb; */
  color: #333;
  text-align: center;
  max-width: 50rem;
  margin: auto;
}

.App .links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
h1 {
  font-size: 3rem;
}

a {
  font-size: 2rem;
  text-decoration: none;
}
.App .khe {
  text-align: center;
  width: 90%;
  margin: 3rem auto;
}
.loading {
  height: 30rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
}
