html {
  font-size: 62.5%;
}
.App {
  background-color: #282c34;
  min-height: 100vh;
  text-align: center;
}
.App .links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
h1 {
  font-size: 3rem;
  color: #fff;
}
a {
  color: #fff;
  font-size: 2rem;
  text-decoration: none;
}
.App .khe {
  text-align: center;
  max-width: 110rem;
  margin: auto;
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: 1fr 1fr 1fr;
  color: white;
}
.loading {
  font-size: 5rem;
  color: #fff;
}
